<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	<appSettings>

		<!--Data Source-->
		<!--uTrack, JIRA-->
		<add key="DataSourceSystem" value="uTrack" />
		
		
		<!--MongoDB-->
		<add key="MongoDBServer" value="mongodb://cn-shenje-1" />
		<add key="MongoDBTrendActivity" value="TrendActivity" />
		<add key="MongoDBTrendScrumData" value="TrendScrumData" />
		
		<!-- uTrack UserName/Password-->
		<add key="uTrackUserName" value="liurong.luo@unisys.com"/>
		<add key="uTrackPassword" value="welcomE7"/>

		<!-- JIRA UserName/Password-->
		<add key="JIRAUserName" value="TangYM"/>
		<add key="JIRAPassword" value="Welcome4~"/>
		
		<!--uTrack URL-->
		<add key="uTrackRootUrl" value="https://ustr-vm-0315.na.uis.unisys.com:8443/uTrack/"/>
		<add key="uTrackIndex" value="https://ustr-vm-0315.na.uis.unisys.com:8443/uTrack/Index"/>

		<!--JIRA URL-->
		<add key="JIRARootUrl" value="https://ustr-jira-1.na.uis.unisys.com:8443/"/>
		<add key="JIRALoginUrl" value="https://ustr-jira-1.na.uis.unisys.com:8443/login.jsp"/>

		<!--Product-->
		<add key="ProductName" value="Data Exchange 5.0"/>
		
		<!--Web Spider-->
		<add key="FetchIntervalInMinute" value="2"/>
		
	</appSettings>
</configuration>