
 <div class="widget-box">
    <div class="widget-title">
        <span class="icon"> <i class="icon-signal"></i> </span>
        <h5>Sprint Story Completion Rate</h5>
    </div>
     <div class="widget-title">
         <ul class="nav nav-tabs">
             <li class="active"><a data-toggle="tab" href="#tabSS5">Release 5.0</a></li>
             <li><a data-toggle="tab" href="#tabSS4">Release 4.0</a></li>
             <li><a data-toggle="tab" href="#tabSS3">Release 3.0</a></li>
             <li><a data-toggle="tab" href="#tabSS2">Release 2.0</a></li>
             <li><a data-toggle="tab" href="#tabSS1">Release 1.0</a></li>
         </ul>
     </div>
     <div class="widget-content tab-content">
         <div id="tabSS5" class="tab-pane active">
             <div id="placeholder">
                 <img src="/Chart/GetDE5SprintStorySucessRateChart" style="width:100%;height:100%" />
             </div>
         </div>
         <div id="tabSS4" class="tab-pane">
             <div id="placeholder">
                 <img src="/Chart/GetDE4SprintStorySucessRateChart" style="width:100%;height:100%" />
             </div>
         </div>
         <div id="tabSS3" class="tab-pane">
             <div id="placeholder">
                 <img src="/Chart/GetDE3SprintStorySucessRateChart" style="width:100%;height:100%" />
             </div>
         </div>
         <div id="tabSS2" class="tab-pane">
             <div id="placeholder">
                 <img src="/Chart/GetDE2SprintStorySucessRateChart" style="width:100%;height:100%" />
             </div>
         </div>
         <div id="tabSS1" class="tab-pane">
             <div id="placeholder">
                 <img src="/Chart/GetDE1SprintStorySucessRateChart" style="width:100%;height:100%" />
             </div>
         </div>
     </div>

    @*<div class="widget-content">
        <div id="placeholder">
            <img src="/Chart/GetStorySucessRateChart" style="width:100%;height:100%" />
        </div>
    </div>*@
</div>
               