
 <div class="widget-box">
    <div class="widget-title">
        <span class="icon"> <i class="icon-signal"></i> </span>
        <h5>Story Size Success Rate</h5>
    </div>
     <div class="widget-title">
         <ul class="nav nav-tabs">
             <li class="active"><a data-toggle="tab" href="#tab5">DE 5.0</a></li>
             <li><a data-toggle="tab" href="#tab4">DE 4.0</a></li>
             <li><a data-toggle="tab" href="#tab3">DE 3.0</a></li>
             <li><a data-toggle="tab" href="#tab2">DE 2.0</a></li>
             <li><a data-toggle="tab" href="#tab1">DE 1.0</a></li>
             <li><a data-toggle="tab" href="#tab0">All</a></li>
         </ul>
     </div>
     <div class="widget-content tab-content">
         <div id="tab5" class="tab-pane active">
             <div id="placeholder">
                 <img src="/Chart/GetDE5StorySucessRateChart" style="width:100%;height:100%" />
             </div>
         </div>
         <div id="tab4" class="tab-pane">
             <div id="placeholder">
                 <img src="/Chart/GetDE4StorySucessRateChart" style="width:100%;height:100%" />
             </div>
         </div>
         <div id="tab3" class="tab-pane">
             <div id="placeholder">
                 <img src="/Chart/GetDE3StorySucessRateChart" style="width:100%;height:100%" />
             </div>
         </div>
         <div id="tab2" class="tab-pane">
             <div id="placeholder">
                 <img src="/Chart/GetDE2StorySucessRateChart" style="width:100%;height:100%" />
             </div>
         </div>
         <div id="tab1" class="tab-pane">
             <div id="placeholder">
                 <img src="/Chart/GetDE1StorySucessRateChart" style="width:100%;height:100%" />
             </div>
         </div>
         <div id="tab0" class="tab-pane">
             <div id="placeholder">
                 <img src="/Chart/GetAllStorySucessRateChart" style="width:100%;height:100%" />
             </div>
         </div>
     </div>
</div>
               